html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet {
border:0;
margin:0;
padding:0;
}

body {
font-size:62.5%;
font-family:Arial,sans-serif;
color:#000;
background:#fff;
}

a:active {
color:red;
}

a:visited {
color:#551a8b;
}

table {
border-collapse:collapse;
empty-cells:show;
border-width:0;
}

ul {
padding:0 0 1em 1em;
}

ol {
padding:0 0 1em 1.3em;
}

li {
line-height:1.5em;
padding:0 0 .5em;
}

h1,h2 {
font-size:1.3em;
}

h3 {
font-size:1.1em;
}

h4,h5,table {
font-size:1em;
}

sup,sub {
font-size:.7em;
}

input,select,textarea,option {
font-family:inherit;
font-size:inherit;
}

.g-doc,.g-doc-1024,.g-doc-800 {
font-size:130%;
}

.g-doc {
text-align:left;
width:auto;
margin:8px 10px 0;
}

.g-section {
width:100%;
vertical-align:top;
display:inline-block;
}

.title {
  font-size: 14px;
  color: #000;
}

:first-child+html .g-section {
display:block;
}

* html .g-section {
overflow:hidden;
}

.g-section,.g-unit {
zoom:1;
}

.g-split .g-first {
text-align:left;
}

.g-doc-1024 {
width:73.074em;
min-width:950px;
text-align:left;
margin:0 auto;
}

.g-doc-800 {
width:57.69em;
min-width:750px;
text-align:left;
margin:0 auto;
}

.g-tpl-160 .g-unit,.g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-unit .g-tpl-160 .g-unit {
width:auto;
float:none;
margin:0 0 0 160px;
}

.g-unit .g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-tpl-160 .g-first,.g-tpl-160 .g-first {
width:160px;
float:left;
margin:0;
}

.g-tpl-160-alt .g-unit,.g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit {
width:auto;
float:none;
margin:0 160px 0 0;
}

.g-unit .g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-tpl-160-alt .g-first,.g-tpl-160-alt .g-first {
width:160px;
float:right;
margin:0;
}

.g-tpl-180 .g-unit,.g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-tpl-180 .g-unit {
width:auto;
float:none;
margin:0 0 0 180px;
}

.g-unit .g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-tpl-180 .g-first,.g-tpl-180 .g-first {
width:180px;
float:left;
margin:0;
}

.g-tpl-180-alt .g-unit,.g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit {
width:auto;
float:none;
margin:0 180px 0 0;
}

.g-unit .g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-tpl-180-alt .g-first,.g-tpl-180-alt .g-first {
width:180px;
float:right;
margin:0;
}

.g-tpl-300 .g-unit,.g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-unit .g-tpl-300 .g-unit {
width:auto;
float:none;
margin:0 0 0 300px;
}

.g-unit .g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-tpl-300 .g-first,.g-tpl-300 .g-first {
width:300px;
float:left;
margin:0;
}

.g-tpl-300-alt .g-unit,.g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit {
width:auto;
float:none;
margin:0 300px 0 0;
}

.g-unit .g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-tpl-300-alt .g-first,.g-tpl-300-alt .g-first {
width:300px;
float:right;
margin:0;
}

.g-tpl-nest {
width:auto;
}

.g-tpl-nest .g-unit,.g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
float:left;
width:auto;
margin:0;
}

.g-tpl-nest-alt .g-unit,.g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit {
float:right;
width:auto;
margin:0;
}

html>body .goog-inline-block {
display:inline-block;
}

.goog-inline-block {
position:relative;
display:inline-block;
}

.goog-tab {
position:relative;
border:1px solid #8ac;
color:#000;
background:#e5ecf9;
border-top-left-radius:2px;
border-top-right-radius:2px;
-moz-border-radius-topleft:2px;
-webkit-border-top-left-radius:2px;
-moz-border-radius-topright:2px;
-webkit-border-top-right-radius:2px;
padding:4px 9px;
}

.goog-tab-bar-top .goog-tab {
border-bottom:0;
float:left;
margin:1px 4px 0 0;
}

.goog-tab-bar-bottom .goog-tab {
border-top:0;
float:left;
margin:0 4px 1px 0;
}

.goog-tab-bar-start .goog-tab {
border-right:0;
margin:0 0 4px 1px;
}

.goog-tab-bar-end .goog-tab {
border-left:0;
margin:0 1px 4px 0;
}

.goog-tab-hover {
text-decoration:underline;
cursor:pointer;
}

.goog-tab-disabled {
color:#fff;
background:#ccc;
border-color:#ccc;
}

.goog-tab-selected {
background:#fff!important;
color:#000;
font-weight:700;
}

.goog-tab-bar-top .goog-tab-selected {
top:1px;
margin-top:0;
padding-bottom:5px;
}

.goog-tab-bar-bottom .goog-tab-selected {
top:-1px;
margin-bottom:0;
padding-top:5px;
}

.goog-tab-bar-start .goog-tab-selected {
left:1px;
margin-left:0;
padding-right:9px;
}

.goog-tab-bar-end .goog-tab-selected {
left:-1px;
margin-right:0;
padding-left:9px;
}

.goog-tab-content {
border:1px solid #8ac;
border-top:none;
padding:.1em .8em .8em;
}

.goog-tab-bar {
position:relative;
border:0;
list-style:none;
cursor:default;
outline:none;
margin:0 0 0 5px;
padding:0;
}

.goog-tab-bar-clear {
border-top:1px solid #8ac;
clear:both;
height:0;
overflow:hidden;
}

* html .goog-tab-bar-start {
margin-right:-3px;
}

* html .goog-tab-bar-end {
margin-left:-3px;
}

.ae-table-plain {
border-collapse:collapse;
width:100%;
}

.ae-table {
border:1px solid #c5d7ef;
border-collapse:collapse;
width:100%;
}

#bd h2.ae-table-title {
background:#e5ecf9;
color:#000;
font-size:1em;
border-left:1px solid #c5d7ef;
border-right:1px solid #c5d7ef;
border-top:1px solid #c5d7ef;
margin:0;
padding:3px 0 3px 5px;
}

.ae-table-caption,.ae-table caption {
border:1px solid #c5d7ef;
background:#e5ecf9;
-moz-margin-start:-1px;
}

.ae-table caption {
text-align:left;
padding:3px 5px;
}

.ae-table th,.ae-table td {
background-color:#fff;
margin:0;
padding:.35em 1em .25em .35em;
}

.ae-table thead th {
font-weight:700;
text-align:left;
background:#c5d7ef;
vertical-align:bottom;
}

.ae-table tfoot tr td {
border-top:1px solid #c5d7ef;
background-color:#e5ecf9;
}

.ae-table td {
border-top:1px solid #c5d7ef;
border-bottom:1px solid #c5d7ef;
}

.ae-even>td,.ae-even th,.ae-even-top td,.ae-even-tween td,.ae-even-bottom td,ol.ae-even {
background-color:#e9e9e9;
border-top:1px solid #c5d7ef;
border-bottom:1px solid #c5d7ef;
}

#bd .ae-table .cbc {
width:1.5em;
padding-right:0;
}

.ae-table #ae-live td {
background-color:#ffeac0;
}

.ae-table-fixed {
table-layout:fixed;
}

.ae-table-fixed td,.ae-table-nowrap {
overflow:hidden;
white-space:nowrap;
}

.ae-table-caption .ae-paginate,.ae-table-caption .ae-orderby {
padding:2px 5px;
}

#ae-logo {
margin-bottom:0;
}

#ae-appbar-lrg {
background-color:#e5ecf9;
border-top:1px solid #6b90da;
margin:0 0 1.25em;
padding:.2em .6em;
}

#ft p {
text-align:center;
margin-top:2.5em;
padding-top:.5em;
border-top:2px solid #c3d9ff;
}

#bd h3 {
font-weight:700;
font-size:1.4em;
}

#ae-content {
padding-left:1em;
border-left:1px solid #6b90da;
min-height:200px;
}

.ae-table .ae-pager {
background-color:#c5d7ef;
}

#ae-nav ul {
list-style-type:none;
margin:0;
padding:1em 0;
}

#ae-nav ul li {
margin-bottom:.3em;
padding:.1em 0 .1em .5em;
}

#ae-nav .ae-nav-selected {
color:#44464a;
display:block;
font-weight:700;
background-color:#e5ecf9;
border-bottom:1px solid #cedff2;
}

a.ae-nav-selected {
color:#44464a;
text-decoration:none;
}

#ae-nav ul ul {
margin:0;
padding:0 0 0 .5em;
}

.ae-nav-group {
background-color:#fffbe8;
border:1px solid #fff1a9;
margin:0 .75em 0 0;
padding:.5em;
}

.ae-nav-group h4 {
font-weight:700;
margin-bottom:.5em;
padding:auto auto 0 .4em;
}

.ae-nav-group ul {
list-style-type:none;
margin:0 0 .5em;
padding:0 0 0 1.3em;
}

.ae-nav-group ul li {
padding-bottom:.5em;
}

#hint {
background-color:#f6f9ff;
border:1px solid #e5ecf9;
margin-bottom:1em;
padding:.5em 1em;
}

#message {
color:red;
position:relative;
bottom:6px;
}

table.entities {
border:1px solid #c5d7ef;
border-collapse:collapse;
width:100%;
margin-bottom:0;
}

table.entities th,table.entities td {
padding:.25em 1.5em .5em .5em;
}

table.entities th {
font-weight:700;
text-align:left;
background:#e5ecf9;
white-space:nowrap;
}

table.entities td {
background-color:#fff;
text-align:left;
vertical-align:top;
cursor:pointer;
}

table.entities tr.even td {
background-color:#f9f9f9;
}

div.entities {
background-color:#c5d7ef;
margin-top:0;
}

#entities-pager,#entities-control {
padding:.3em 1em .4em;
}

#ae-rpc-label-col {
width:85%;
}

#ae-rpc-stats-col {
width:15%;
}

#ae-path-label-col {
width:45%;
}

#ae-path-stats-col {
width:35%;
}

.ae-table-wrapper-left {
margin-right:.5em;
}

.ae-table-wrapper-right {
margin-left:.5em;
}

#ae-req-history,#ae-rpc-traces {
margin-top:1em;
}

.ae-zippy,.ae-zippy-all {
position:relative;
top:1px;
height:12px;
width:12px;
}

.goog-zippy-collapsed {
background:transparent url(./plus.gif) no-repeat;
}

.goog-zippy-expanded {
background:transparent url(./minus.gif) no-repeat;
}

td.ae-hanging-indent {
padding-left:20px;
text-indent:-20px;
}

.ae-table td.rpc-req {
padding-left:20px;
width:20em;
}

#bd div.ae-table-title {
background:#e5ecf9;
color:#000;
border-left:1px solid #c5d7ef;
border-right:1px solid #c5d7ef;
border-top:1px solid #c5d7ef;
margin:0;
padding:3px 0 3px 5px;
}

#bd div.ae-table-title h2.ae-zippy {
padding-left:16px;
text-decoration:underline;
color:#00c;
}

#ae-head-glance span,#ae-rpc-expand-all span,#ae-path-expand-all span,#ae-request-expand-all span {
padding-right:.5em;
}

.ae-action {
color:#00c;
text-decoration:underline;
cursor:pointer;
}

.ae-toggle {
padding-left:16px;
background-position:left center;
background-repeat:no-repeat;
cursor:pointer;
}

.ae-minus {
background-image:url(./minus.gif);
}

.ae-plus {
background-image:url(./plus.gif);
}

#ae-stats-summary dt {
float:left;
text-align:right;
margin-right:1em;
font-weight:700;
}

.ae-stats-response-200 {
color:green;
}

table.ae-stats-gantt-table {
width:95%;
border:1px solid #999;
}

div.ae-stats-gantt-container {
position:relative;
width:100%;
height:1em;
background-color:#eef;
}

img.ae-stats-gantt-bar {
border:0;
height:1em;
background-color:#77f;
position:absolute;
top:0;
}

img.ae-stats-gantt-extra {
border:0;
height:.5em;
background-color:#f66;
position:absolute;
top:25%;
}

span.ae-stats-gantt-inline {
font-size:80%;
position:absolute;
top:.1em;
white-space:nowrap;
overflow:hidden;
}

div.ae-stats-gantt-axis {
position:relative;
width:100%;
height:1em;
}

img.ae-stats-gantt-tick {
width:1px;
height:1em;
position:absolute;
background-color:gray;
}

span.ae-stats-gantt-scale {
position:absolute;
}

a,#ae-nav li a:link,#ae-nav li a:visited,.ae-nav-group li a:link,.ae-nav-group li a:visited,.ae-nav-group li a:hover {
color:#00c;
}

p,h1,h2,h3,h4,h5,#bd p {
padding:0 0 1em;
}

.g-split .g-unit,tfoot .ae-paginate,#entities-pager {
text-align:right;
}

* html .g-doc-1024,*+html .g-doc-1024 {
width:71.313em;
}

* html .g-doc-800,*+html .g-doc-800 {
width:56.3em;
}

.g-tpl-25-75 .g-unit,.g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-tpl-25-75-alt .g-first,.g-tpl-25-75-alt .g-first {
width:74.999%;
float:right;
margin:0;
}

.g-unit .g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-tpl-25-75 .g-first,.g-tpl-25-75 .g-first,.g-tpl-25-75-alt .g-unit,.g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit {
width:24.999%;
float:left;
margin:0;
}

.g-tpl-75-25 .g-unit,.g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-tpl-75-25-alt .g-first,.g-tpl-75-25-alt .g-first {
width:24.999%;
float:right;
margin:0;
}

.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-tpl-75-25 .g-first,.g-tpl-75-25 .g-first,.g-tpl-75-25-alt .g-unit,.g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit {
width:74.999%;
float:left;
margin:0;
}

.g-tpl-33-67 .g-unit,.g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-tpl-33-67-alt .g-first,.g-tpl-33-67-alt .g-first {
width:66.999%;
float:right;
margin:0;
}

.g-unit .g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-tpl-33-67 .g-first,.g-tpl-33-67 .g-first,.g-tpl-33-67-alt .g-unit,.g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit {
width:32.999%;
float:left;
margin:0;
}

.g-tpl-67-33 .g-unit,.g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-tpl-67-33-alt .g-first,.g-tpl-67-33-alt .g-first {
width:32.999%;
float:right;
margin:0;
}

.g-unit .g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-tpl-67-33 .g-first,.g-tpl-67-33 .g-first,.g-tpl-67-33-alt .g-unit,.g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit {
width:66.999%;
float:left;
margin:0;
}

.g-tpl-50-50 .g-unit,.g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-tpl-50-50-alt .g-first,.g-tpl-50-50-alt .g-first {
width:49.999%;
float:right;
margin:0;
}

.g-unit .g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-tpl-50-50 .g-first,.g-tpl-50-50 .g-first,.g-tpl-50-50-alt .g-unit,.g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit {
width:49.999%;
float:left;
margin:0;
}

.g-tpl-nest .g-section,* html .goog-inline-block,:first-child+html .goog-inline-block {
display:inline;
}

.goog-tab-bar-start,#ae-stats-summary dd {
float:left;
}

.goog-tab-bar-end,#pagetotal {
float:right;
}

.ae-table thead th .ae-no-bold,#ae-stats-hd span {
font-weight:400;
}

.ae-even-top td,.ae-table .ae-tween-top td {
border-bottom:0;
}

.ae-even-bottom td,.ae-table .ae-tween-bottom td {
border-top:0;
}

.ae-even-tween td,.ae-table .ae-tween td {
border:0;
}

.ae-paginate strong,.ae-page-number {
margin:0 .5em;
}

#ae-appbar-lrg h1,#bd div.ae-table-title h2 {
font-size:1em;
margin:0;
padding:0;
}

#ae-nav ul li span.ae-nav-disabled,.ae-stats-date {
color:#666;
}

#ae-nav ul ul li,#ae-nav ul li a,#ae-nav ul li span,#ae-nav ul ul li a {
padding-left:.5em;
}

#ae-nav li a:link.ae-nav-selected,#ae-nav li a:visited.ae-nav-selected,table.entities th a,table.entities th a:visited {
color:#000;
text-decoration:none;
}

#datastore_search,#ae-stats-refresh,#ae-stats-summary {
margin-bottom:1em;
}

#pagetotal .count,.ae-page-selected {
font-weight:700;
}

#ae-path-reqs-col,#ae-path-rpcs-col {
width:10%;
}

.ae-stats-request-link,a.ae-stats-gantt-link {
text-decoration:none;
}